@import url('https://fonts.cdnfonts.com/css/fsalbert');

:root {
    --arqiva-red: #C80032;
    --arqiva-light-blue: #CEDFE4;
    --grey: #C7C7CC;
    --arqiva-font: 'FSAlbert';
    --arqiva-dark-blue: #021F3E;

}

body {
    font-family: var(--arqiva-font), sans-serif;
    margin: 0;
    padding: 0;
}

input,
button {
    font-family: var(--arqiva-font), sans-serif;
}