.contributions-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 2rem 7rem;
}

.search-section {
    display: grid;
    justify-content: center;
    padding: 1.5rem 0;
}

.search-button {
    background-color: black;
    color: white;
    margin-left: 0.5rem;
    border-radius: 5px;
    height: 2rem;
    width: 4.2rem;
    font-size: 1rem;
}

.search-form input {
    height: 1.9rem;
    font-size: 1rem;
    width: 20vw;

}

/* For tablet */
@media (max-width: 1024px) {
    .contributions-list {
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem 3rem;
    }
}

/* For mobile */
@media (max-width: 650px) {
    .contributions-list {
        grid-template-columns: 1fr;
        margin: 2rem 1rem;
    }
}