.contributions-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 2rem 7rem;
}

.search-section {
    display: grid;
    justify-content: center;
    padding: 1.5rem 1rem;
}

.search-button {
    background-color: black;
    color: white;
    margin-left: 0.5rem;
    border-radius: 5px;
    height: 2rem;
    width: 4.2rem;
    font-size: 1rem;
}

.search-input {
    height: 1.9rem;
    font-size: 1rem;
    width: max(23vw, 17rem)
}



.loading-section {
    display: grid;
    justify-content: center;
}

.no-results-section {
    display: grid;
    justify-content: center;
}

.loading-text {
    font-weight: 400;
    color: var(--light-grey);
}

.no-results-text {
    font-weight: 400;
}

/* For tablet */
@media (max-width: 1024px) {
    .contributions-list {
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem 3rem;
    }
}

/* For mobile */
@media (max-width: 650px) {
    .contributions-list {
        grid-template-columns: 1fr;
        margin: 2rem 1rem;
    }

    .search-input {
        margin-bottom: 0.5rem;
        width: 88vw
    }

    .search-button {
        margin-left: 0;
        width: 90vw;
    }

}